:root {
  // base
  --font-family: "Open Sans";
  --content-width: 1280px;
  --content-tablet-width: 952px;
  --container-offset: 36px;
  --gap: 32px;
  // color
  --color-medium-purple: #a65cf0;
  --color-mauve: #c998fb;
  --color-purple-heart: #7033ac;
  --color-magnolia: #f8efff;
  --color-blue-chalk: #ebd1ff;
  --color-crusta: #ff862f;
  --color-koromiko: #ffbd59;
  --color-rust: #bb370e;
  --color-wild-watermelon: #ff6972;
  --color-sulu: #b8ec64;
  --color-straw: #d5b986;
  --color-white: #fff;
  --color-alabaster: #f7f7f7;
  --color-gallery: #eaeaea;
  --color-dusty-gray: #999;
  --color-dove-gray: #666;
  --color-mine-shaft: #333;
  --color-snow-flurry: #daffd1;
  --color-milk-punch: #fff5d1;
}
